<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Service Statuses</h6>
    </div>
    <div class="card-body">        
        <div class="led-container">
            <div class="service-box service-name1">
                <div class="led-label">Service 1</div>
                <div class="led-light">
                        <div class="led-green"></div>
                </div>
            </div>
            <div class="service-box service-name2">
                <div class="led-label">Service 2</div>
                <div class="led-light">
                        <div class="led-green"></div>
                </div>
            </div>
            <div class="service-box service-name3">
                <div class="led-label">Service 3</div>
                <div class="led-light">
                        <div class="led-green"></div>
                </div>
            </div>
            <div class="btn-container mx-auto text-center">
                <button type="button" class="btn btn-sm btn-primary">Check Services</button>
            </div>
        </div>
    </div>
</div>
